*.o
.#*
.*-swp
main
serial_recv
serial_send
phone_recv
phone_send
blue_recv
blue_send
dd.txt
.cproject
.project

# autoconf automake
.deps/
config.log
config.status
autoscan.log
autom4te.cache/
src/Makefile
/Makefile
missing
depcomp
compile
install-sh

# libtool
Makefile.in
aclocal.m4
configure
Makefile
src/Makefile
libserialport/src/Makefile
INSTALL
config.guess
config.sub
libtool
ltmain.sh
.libs/
*.la
*.lo


